@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fira Sans', Arial, sans-serif !important;
    margin: 0;
    color: #141414;
}
img{
    max-width: 100%;
    display: block;
}
p{
    color: black;
}
header .navbar{
    max-width: 1200px;
    padding: 20px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0);
}
.header h1{
    font-size: 3rem;
}
img:hover{
    cursor: pointer;
}
#elementEl{
    font-size: 3.2rem;
}
#elementEl::after{
    content: '|';
    margin-left: 5px;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% {
         opacity: 1;
        }
    100% {
         opacity: 0;
        }
}
#btn-scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 50px;
    height: 49px;
    border: none;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  .githubicon{
    width: 30px;
    height: 30px;
  }
  
  #btn-scroll-top:hover {
    background-color: #666;
  }
  
  #btn-scroll-top i {
    margin-top: 3px;
  }

.navbar a,ul,li{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 1.350rem;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    justify-content: center;
    position: relative;
}
.navbar a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.navbar a:hover::after{
    width: 100%;
}
@media (max-width: 800px){
    .header{
        flex-direction: column;
        gap: 40px;
        padding: 20px;
        display: flex;
    }
     .title{
        text-align: center;
    }
    
}
.image-wrapper {
    position: relative;
  }

  .download-cv-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    color: whitesmoke;
  }
  
  .download-cv-message h5{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
  }
  .download-cv-message a {
    display: inline-block;
    background-color: black;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .image-wrapper:hover .download-cv-message {
    opacity: 1;
    visibility: visible;
  }
.introducao{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
}
.profile{
    object-fit: cover;
    border-radius: 60px;
}
.introducao h1{
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position: relative;
}
.icones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.icon:hover{
    transform: translate(0,-10%);
}
.introducao h1::before{
    content: " ";
    display: block;
    width: 130px;
    height: 100px;
    background: url('assets/detalhe.svg') no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -9999;
}
.introducao p{
    font-size: 1.5rem;
    color: #525252;
}
@media (max-width: 1000px){
    .introducao h1{
        font-size: 3rem;
    }
}
@media (max-width:800px){
    .introducao{
        grid-template-columns: 1fr;
    }
    .introducao h1{
        font-size: 2rem;
        margin-top: -50px;
    }
    .empresa-titulo span{
        display: none;
    }
    .icones{
        display: flex;
        flex-wrap: wrap;
    }
    .icon{
        width: 40px;
        height: 40px;
    }
    .thyago{
        font-size: 2.5rem !important;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}
.experiencia{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}
 .subtitulo{
    font-size: 8rem;
    word-break: break-all;
    line-height: 1;
    text-transform: uppercase;
    max-width: 4ch;
    color: #e0e0e0;
}
@media (max-width: 800px){
    .subtitulo{
        font-size: 3rem;
        text-transform: capitalize;
        max-width: 100% !important;
    }
}
.experiencia-texto{
    font-size: 3rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #525252;
    text-align: center;
}
.experiencia-texto{
    color: #141414;
}
.empresa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
    gap: 10px 20px;
}
.empresa::before{
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    top: 20px;
    left: -4px;
}
.empresa-ano{
    position: absolute;
    top: 22px;
    left: -100px;
    color: #525252;
    font-size: 1.400rem;
}
.projects a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-bottom: 20px;
    text-decoration: none;
    gap: 10px;
}
.empresa-titulo{
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.empresa-titulo a{
    color: black;
    text-decoration: none;
}
.empresa-texto{
    font-size: 1.125rem;
    line-height: 1.4;
    color: #525252;
}
.empresa-habilidades{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;

}.empresa-habilidades li{
    font-size: 1.125rem;
    line-height: 1.4;
    border-radius: 4px;
    background-color: white;
    color: #141414;
    padding: 5px 10px;
}
@media (max-width: 800px){
    .experiencia{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .experiencia .subtitulo{
        font-size: 3rem;
        color: #141414;
        text-transform: capitalize;
        max-width: initial;
    }
    .experiencia-texto{
        font-size: 1.25rem;
    }
    .empresa-ano{
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
    }
}
@media (max-width: 400px){
    .empresa{
    grid-template-columns: 1fr;
    }
    #elementEl{
        font-size: 2.5rem;
    }
}
.formacao-container{
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    position: relative;
}
.formacao-container::after{
    content: '';
    display: block;
    width: 130px;
    height: 100px;
    background: url('assets/detalhe.svg') no-repeat center;
    position: absolute;
    bottom: -50px;
    left: 20px;
}
.formacao{
    background-color: #141414;
    color: white;
}
.formacao p,li{
    color: white;
}
.formacao .subtitulo{
    color: #000000;
    max-width: 5ch;
}
.formacao-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #a3a3a3;
}
.formacao-texto strong{
    color: #ffffff;
}
.faculdade-lista{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
}
.faculdade{
    flex: 1;
    background-color: #000000;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.faculdade-tipo{
    font-size: 1.125rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
}
.faculdade-curso{
    flex: 1;
    font-size: 1.600rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
}
.faculdade-curso::before{
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829,#67dd0a);
    left:-24px;
    position: absolute;
}
.faculdade-instituicao{
    font-size: 1.125rem;
    color: #a3a3a3;
}
.cursos{
    margin-bottom: 60px;
}
.formacao-extra h3{
    font-size: 0.875rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}
.formacao-extra h3::before{
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    background: url('assets/cursos.svg') no-repeat center center;
    position: absolute;
    left: -36px;
    top: -4px;
}
.cursos h3::before{
    background: url('assets/cursos.svg') no-repeat center center;
}
.idiomas h3::before{
    background: url('assets/idiomas.svg') no-repeat center center;

}
.formacao-extra li{
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;
}
.formacao-extra span{
    color: #8f8f8f;
}
.cursos li{
    display: flex;
    justify-content: space-between;
}
@media (max-width:800px){
    .formacao-container{
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }
    .formacao .subtitulo{
        color: #ffffff;
    }
    .formacao-texto{
        font-size: 1.25rem;
    }
    .formacao-extra h3::before{
        position: initial;
        margin-bottom: 10px;
    }
}
.footer {
    background: #000000;
  }
  .contato{
    text-align: center;
    color: white;
    padding: 50px 10px 10px 10px;
    font-size: 3rem;
  }
  
  .footer-container {
    max-width: 1500px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
  }
  
  .footer-texto {
    font-size: 2rem;
    line-height: 1.33;
    color: #cccccc;
  }
  
  .footer-contato li {
    font-weight: bold;
    font-size: 1.950rem;
    line-height: 1.1;
    color: #ffffff;
    margin-bottom: 30px;
  }
  
  .footer-contato li a {
    color: #ffffff;
    text-decoration: none;
  }
  .footer-contato li a:hover {
    color: #67dd0a;
  }
  
  .footer-copy {
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #8f8f8f;
    text-align: center;
  }
  .footer-copy a{
    text-decoration: none;
    color: white;
  }
  .footer-copy a:hover{
    color: #67dd0a;
  }
  
  @media (max-width: 800px) {
    .footer-container {
      grid-template-columns: 1fr;
      gap: 40px;
    }
    .footer-contato li {
      font-size: 1.5rem;
    }
    .footer-texto{
        font-size: 1.5rem;
    }
  }
